--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[estado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [estado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[estado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[provincia] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [provincia]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[provincia] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tornero] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tornero]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tornero] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodocumento] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipodocumento]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodocumento] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cargo] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cargo]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[cargo] ([idcargo],[nombre],[descripcion])VALUES(1,'Administrador','')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cargo] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoacabado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipoacabado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipoacabado] ([nombre],[descripcion])VALUES('Corrugado','nn')
INSERT [dbo].[tipoacabado] ([nombre],[descripcion])VALUES('Liso','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoacabado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mododeavance] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [mododeavance]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[mododeavance] ([nombre],[descripcion])VALUES('Adelante','nn')
INSERT [dbo].[mododeavance] ([nombre],[descripcion])VALUES('Atras','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mododeavance] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresatransporte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empresatransporte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresatransporte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[materialatrabajar] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [materialatrabajar]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[materialatrabajar] ([nombre],[descripcion])VALUES('Cedro','nn')
INSERT [dbo].[materialatrabajar] ([nombre],[descripcion])VALUES('Roble','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[materialatrabajar] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[gradodificultad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [gradodificultad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[gradodificultad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoparte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipoparte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipoparte] ([nombre],[descripcion])VALUES('Cuchilla',NULL)
INSERT [dbo].[tipoparte] ([nombre],[descripcion])VALUES('Cuerpo',NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoparte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomaquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipomaquina]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomaquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modulo] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [modulo]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(1,'Compras')
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(2,'Comercializacion')
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(3,'Produccion')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modulo] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[unidaddemedida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [unidaddemedida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[unidaddemedida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[menupadre] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [menupadre]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(1,'Compras',1)
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(2,'Comercializacion',1)
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(3,'Produccion',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[menupadre] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[ordencompramp] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [ordencompramp]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[ordencompramp] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[hojaderuta] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [hojaderuta]'

-----------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[hojaderuta] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodesperfecto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipodesperfecto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodesperfecto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[Pedido] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [Pedido]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresaxmaquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [fresaxmaquina]'

--------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresaxmaquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordenservicio] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detalleordenservicio]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordenservicio] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordencompra] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detalleordencompra]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordencompra] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [fresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallemprecibida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallemprecibida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallemprecibida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[localidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [localidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[localidad] ([idlocalidad],[codigopostal],[zona],[provincia],[distancia],[nombre],[idprovincia])VALUES(1,5000,'Centro','Cordoba',NULL,'Cordoba',NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[localidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[torneado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [torneado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[torneado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cliente] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cliente]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empleado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empleado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[empleado] ([idlegajo],[nombre],[apellido],[direccion],[telefono],[idcargo],[email],[titulo],[idlocalidad],[turno])VALUES(1,'Juan','Perez','Corro','153101122',1,'jperez@hotmail.com','Administrador',1,'Mañana')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modelofresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [modelofresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modelofresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresaxlocalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empresaxlocalidad]'

---------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresaxlocalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[operacion] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [operacion]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(1,'Diseño',NULL,2.000000000000000e+001,NULL,NULL,NULL)
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(2,'Corte material',NULL,2.000000000000000e+001,NULL,NULL,NULL)
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(3,'Perforar material',NULL,2.000000000000000e+001,NULL,NULL,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[operacion] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[MPxTP] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [MPxTP]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[MPxTP] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [parte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [maquina]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formulario] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formulario]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(1,'Registrar Modelo de fresa',3,'registrarModeloFresa',3,1)
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(2,'Programar Produccion',3,'programarProduccion',3,1)
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(3,'Administrar Formularios',5,'frmFormulario',5,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formulario] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomateriaprima] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipomateriaprima]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(1,'Acero',NULL,NULL,NULL,NULL,NULL,NULL)
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(2,'Metal Duro',NULL,NULL,NULL,NULL,NULL,NULL)
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(3,'Material para soldar',NULL,NULL,NULL,NULL,NULL,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomateriaprima] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxperfil] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formxperfil]'

---------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formxperfil] ([idformulario],[idperfil])VALUES(1,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxperfil] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxempleado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formxempleado]'

-----------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(1,1)
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(2,1)
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(3,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxempleado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[controlcalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [controlcalidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[controlcalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[partepedido] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [partepedido]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[partepedido] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallepresupuesto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallepresupuesto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallepresupuesto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallehojaderuta] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallehojaderuta]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallehojaderuta] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[viajantexlocalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [viajantexlocalidad]'

-----------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[viajantexlocalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedor] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [proveedor]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[presupuesto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [presupuesto]'

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[presupuesto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipofresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipofresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipofresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parteadicional] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [parteadicional]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parteadicional] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[etapadefabricacion] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [etapadefabricacion]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[etapadefabricacion] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedorxtipomateriaprima] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [proveedorxtipomateriaprima]'

---------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedorxtipomateriaprima] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[desperfecto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [desperfecto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[desperfecto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cuentausuario] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cuentausuario]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[cuentausuario] ([usuario],[contraseña],[creacion],[idlegajo])VALUES('jperez','äÊåÙ','Ago  8 2006 12:00:00:000AM',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cuentausuario] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[perfil] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [perfil]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[perfil] ([idperfil],[descripcion],[idlegajo])VALUES(1,'Ingeniero',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[perfil] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mprecibida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [mprecibida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mprecibida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[pago] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [pago]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formadeentrega] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formadeentrega]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formadeentrega] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquinaFresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [maquinaFresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[maquinaFresa] ([idmaquina],[nombre],[potencia],[rpmdeleje],[sentidodegiro],[caracteristicas],[estado])VALUES(1,'Afiladora',5.000000000000000e+003,5.000000000000000e+003,'Derecha',NULL,'Produccion')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquinaFresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[objetodelservicio] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [objetodelservicio]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[objetodelservicio] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
