--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[estado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [estado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[estado] ([idestado],[nombre],[descripcion])VALUES(1,'Pendiente','Pedido pendiente de pago')
INSERT [dbo].[estado] ([idestado],[nombre],[descripcion])VALUES(2,'Programado','Pedido programado')
INSERT [dbo].[estado] ([idestado],[nombre],[descripcion])VALUES(3,'En produccion','Pedido en produccion')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[estado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[provincia] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [provincia]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[provincia] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tornero] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tornero]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tornero] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodocumento] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipodocumento]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodocumento] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cargo] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cargo]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[cargo] ([idcargo],[nombre],[descripcion])VALUES(1,'Administrador','')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cargo] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoacabado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipoacabado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipoacabado] ([nombre],[descripcion])VALUES('Corrugado','nn')
INSERT [dbo].[tipoacabado] ([nombre],[descripcion])VALUES('Liso','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoacabado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mododeavance] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [mododeavance]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[mododeavance] ([nombre],[descripcion])VALUES('Adelante','nn')
INSERT [dbo].[mododeavance] ([nombre],[descripcion])VALUES('Atras','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mododeavance] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresatransporte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empresatransporte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresatransporte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[materialatrabajar] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [materialatrabajar]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[materialatrabajar] ([nombre],[descripcion])VALUES('Cedro','nn')
INSERT [dbo].[materialatrabajar] ([nombre],[descripcion])VALUES('Roble','nn')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[materialatrabajar] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[gradodificultad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [gradodificultad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[gradodificultad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoparte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipoparte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipoparte] ([nombre],[descripcion])VALUES('Cuchilla',NULL)
INSERT [dbo].[tipoparte] ([nombre],[descripcion])VALUES('Cuerpo',NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipoparte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomaquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipomaquina]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomaquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modulo] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [modulo]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(1,'Compras')
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(2,'Comercializacion')
INSERT [dbo].[modulo] ([idmodulo],[descripcion])VALUES(3,'Produccion')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modulo] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[unidaddemedida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [unidaddemedida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[unidaddemedida] ([idunidadmedida],[nombre],[descripcion],[abreviacion],[escala])VALUES(1,'Gramo',NULL,NULL,NULL)
INSERT [dbo].[unidaddemedida] ([idunidadmedida],[nombre],[descripcion],[abreviacion],[escala])VALUES(2,'Kilogramo',NULL,NULL,NULL)
INSERT [dbo].[unidaddemedida] ([idunidadmedida],[nombre],[descripcion],[abreviacion],[escala])VALUES(3,'Metro',NULL,NULL,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[unidaddemedida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[menupadre] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [menupadre]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(1,'Compras',1)
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(2,'Comercializacion',1)
INSERT [dbo].[menupadre] ([idmenu],[nombre],[activo])VALUES(3,'Produccion',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[menupadre] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[ordencompramp] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [ordencompramp]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[ordencompramp] ([fecharealizacion],[plazodeentrega],[idordencompra],[nroorden],[condicionesdepago],[causa],[idestado],[idproveedor])VALUES('Ago 31 2007 12:00:00:000AM',NULL,1,1,NULL,NULL,NULL,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[ordencompramp] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[hojaderuta] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [hojaderuta]'

-----------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[hojaderuta] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodesperfecto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipodesperfecto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipodesperfecto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[Pedido] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [Pedido]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresaxmaquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [fresaxmaquina]'

--------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[fresaxmaquina] ([idmodelo],[idmaquina])VALUES(1,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresaxmaquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordenservicio] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detalleordenservicio]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordenservicio] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [fresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[fresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallemprecibida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallemprecibida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallemprecibida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[localidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [localidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[localidad] ([idlocalidad],[codigopostal],[zona],[provincia],[distancia],[nombre],[idprovincia])VALUES(1,5000,'Centro','Cordoba',NULL,'Cordoba',NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[localidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[torneado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [torneado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[torneado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cliente] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cliente]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empleado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empleado]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[empleado] ([idlegajo],[nombre],[apellido],[direccion],[telefono],[idcargo],[email],[titulo],[idlocalidad],[turno],[idperfil])VALUES(1,'Juan','Perez','Corro','153101122',1,'jperez@hotmail.com','Administrador',1,'Mañana',NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modelofresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [modelofresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[modelofresa] ([idmodelo],[nombre],[grupomodelo],[descripcion],[materialatrabajar],[mododeavance],[tipoacabado],[velocidaddeavance],[tipomodelo],[precio],[estado])VALUES(1,'F100','Fresas rectas',' ','Cedro','Adelante','Corrugado',1.20000000000
INSERT [dbo].[modelofresa] ([idmodelo],[nombre],[grupomodelo],[descripcion],[materialatrabajar],[mododeavance],[tipoacabado],[velocidaddeavance],[tipomodelo],[precio],[estado])VALUES(2,'F200','Fresas con radios',' ','Roble','Adelante','Liso',1.200000000000
INSERT [dbo].[modelofresa] ([idmodelo],[nombre],[grupomodelo],[descripcion],[materialatrabajar],[mododeavance],[tipoacabado],[velocidaddeavance],[tipomodelo],[precio],[estado])VALUES(3,'F300','Fresas con radios','no se','Roble','Adelante','Corrugado',1.000

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[modelofresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresaxlocalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [empresaxlocalidad]'

---------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[empresaxlocalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordencompra] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detalleordencompra]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[detalleordencompra] ([idordencompra],[idtipomateriaprima],[cantidad],[precio],[idestado])VALUES(1,1,1000,10.0000,12)
INSERT [dbo].[detalleordencompra] ([idordencompra],[idtipomateriaprima],[cantidad],[precio],[idestado])VALUES(1,2,2000,20.0000,13)
INSERT [dbo].[detalleordencompra] ([idordencompra],[idtipomateriaprima],[cantidad],[precio],[idestado])VALUES(1,3,3000,30.0000,11)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detalleordencompra] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[operacion] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [operacion]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(1,'Diseño',NULL,2.000000000000000e+001,NULL,NULL,NULL)
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(2,'Corte material',NULL,2.000000000000000e+001,NULL,NULL,NULL)
INSERT [dbo].[operacion] ([idoperacion],[nombre],[maquina],[duracionpromedio],[idgradodificultad],[tolerancia],[descripcion])VALUES(3,'Perforar material',NULL,2.000000000000000e+001,NULL,NULL,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[operacion] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[MPxTP] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [MPxTP]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[MPxTP] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parte] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [parte]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[parte] ([idmodelo],[idtipofresa],[idparte],[cantidad],[nombre],[descripcion],[idtipomateriaprima])VALUES(1,1,1,0.000000000000000e+000,'Cuerpo',' ',1)
INSERT [dbo].[parte] ([idmodelo],[idtipofresa],[idparte],[cantidad],[nombre],[descripcion],[idtipomateriaprima])VALUES(2,1,1,2.500000000000000e+002,'Cuchilla',' ',2)
INSERT [dbo].[parte] ([idmodelo],[idtipofresa],[idparte],[cantidad],[nombre],[descripcion],[idtipomateriaprima])VALUES(3,1,1,2.000000000000000e+002,'Cuchilla',' ',2)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parte] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[app_param] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [app_param]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[app_param] ([id],[label],[numeric_value],[string_value])VALUES(1,'Hora/Hombre Operario',5.0000,NULL)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[app_param] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquina] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [maquina]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquina] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formulario] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formulario]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(1,'Registrar Modelo de fresa',3,'registrarModeloFresa',3,1)
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(2,'Programar Produccion',3,'programarProduccion',3,1)
INSERT [dbo].[formulario] ([idformulario],[descripcion],[idmodulo],[nombre],[idmenu],[activo])VALUES(3,'Administrar Formularios',5,'frmFormulario',5,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formulario] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomateriaprima] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipomateriaprima]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(1,'Acero',NULL,NULL,NULL,NULL,NULL,2)
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(2,'Metal Duro',NULL,NULL,NULL,NULL,NULL,1)
INSERT [dbo].[tipomateriaprima] ([idtipomateriaprima],[nombre],[direccion],[stockactual],[stockminimo],[stockseguridad],[loteeconomico],[idunidadmedida])VALUES(3,'Material para soldar',NULL,NULL,NULL,NULL,NULL,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipomateriaprima] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxperfil] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formxperfil]'

---------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formxperfil] ([idformulario],[idperfil])VALUES(1,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxperfil] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxempleado] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formxempleado]'

-----------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(1,1)
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(2,1)
INSERT [dbo].[formxempleado] ([idformulario],[idlegajo])VALUES(3,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formxempleado] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[controlcalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [controlcalidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[controlcalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[partepedido] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [partepedido]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[partepedido] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallepresupuesto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallepresupuesto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallepresupuesto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallehojaderuta] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [detallehojaderuta]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[detallehojaderuta] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[viajantexlocalidad] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [viajantexlocalidad]'

-----------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[viajantexlocalidad] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedor] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [proveedor]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[presupuesto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [presupuesto]'

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[presupuesto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipofresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [tipofresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[tipofresa] ([idtipo],[idmodelo],[nombre],[diametroexterior],[diametroagujero],[cantidaddientes],[plano],[posiciondetrabajo],[caracteristicas],[costo],[precio],[estado])VALUES(1,1,'F100 Fresa 1',100,10,4,'','De arriba',' ',4012,5000,'Alta')
INSERT [dbo].[tipofresa] ([idtipo],[idmodelo],[nombre],[diametroexterior],[diametroagujero],[cantidaddientes],[plano],[posiciondetrabajo],[caracteristicas],[costo],[precio],[estado])VALUES(1,2,'F200 Fresa 1',120,12,6,'','De arriba',' ',11040,12000,'Alta')
INSERT [dbo].[tipofresa] ([idtipo],[idmodelo],[nombre],[diametroexterior],[diametroagujero],[cantidaddientes],[plano],[posiciondetrabajo],[caracteristicas],[costo],[precio],[estado])VALUES(1,3,'F300 Fresa 1',200,10,8,'','De abajo',' ',15062,16000,'Alta')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[tipofresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parteadicional] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [parteadicional]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[parteadicional] ([idadicional],[idmodelo],[nombre],[plano],[idmateriaprima],[cantidad],[descripcion],[tiempo],[costo],[precio])VALUES(1,1,'Buje','xxx',1,5.000000000000000e+000,' ',1.000000000000000e+000,2.000000000000000e+001,4.00000000000000
INSERT [dbo].[parteadicional] ([idadicional],[idmodelo],[nombre],[plano],[idmateriaprima],[cantidad],[descripcion],[tiempo],[costo],[precio])VALUES(2,1,'Separador','',3,4.500000000000000e+001,' ',1.200000000000000e+001,5.000000000000000e+001,2.000000000000

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[parteadicional] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[etapadefabricacion] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [etapadefabricacion]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[etapadefabricacion] ([idetapafabricacion],[idmodelo],[idtipofresa],[idoperacion],[orden],[tiempoadicional],[detalle])VALUES(1,1,1,1,1,0.000000000000000e+000,' ')
INSERT [dbo].[etapadefabricacion] ([idetapafabricacion],[idmodelo],[idtipofresa],[idoperacion],[orden],[tiempoadicional],[detalle])VALUES(1,2,1,1,1,1.000000000000000e+001,' ')
INSERT [dbo].[etapadefabricacion] ([idetapafabricacion],[idmodelo],[idtipofresa],[idoperacion],[orden],[tiempoadicional],[detalle])VALUES(1,3,1,1,1,0.000000000000000e+000,' ')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[etapadefabricacion] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedorxtipomateriaprima] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [proveedorxtipomateriaprima]'

---------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[proveedorxtipomateriaprima] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[desperfecto] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [desperfecto]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[desperfecto] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cuentausuario] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [cuentausuario]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[cuentausuario] ([usuario],[contraseña],[creacion],[idlegajo])VALUES('jperez','äÊåÙ','Ago  8 2006 12:00:00:000AM',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[cuentausuario] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[perfil] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [perfil]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[perfil] ([idperfil],[descripcion],[idlegajo])VALUES(1,'Ingeniero',1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[perfil] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mprecibida] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [mprecibida]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[mprecibida] ([idmprecibida],[fecharecepcion],[numremito],[idordencompramp])VALUES(1,'31-08-2007',NULL,1)
INSERT [dbo].[mprecibida] ([idmprecibida],[fecharecepcion],[numremito],[idordencompramp])VALUES(2,'31-08-2007',NULL,1)

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[mprecibida] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[pago] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [pago]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formadeentrega] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [formadeentrega]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[formadeentrega] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquinaFresa] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [maquinaFresa]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT [dbo].[maquinaFresa] ([idmaquina],[nombre],[potencia],[rpmdeleje],[sentidodegiro],[caracteristicas],[estado])VALUES(1,'Afiladora',5.000000000000000e+003,5.000000000000000e+003,'Derecha',NULL,'Produccion')

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[maquinaFresa] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
--Code to disable constraints temporarily
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[objetodelservicio] NOCHECK CONSTRAINT ALL

GO
 
PRINT 'Inserting values into [objetodelservicio]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

PRINT 'Done'
 
--Code to enable the previously disabled constraints
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[objetodelservicio] CHECK CONSTRAINT ALL

GO
 
SET NOCOUNT OFF
